:root {
  /* main colors*/
  --primary-blue: #1d70b8;
  --bg-color: #f0f4f8;
  --card-bg: #ffffff;
  --text-main: #333333;
  --text-muted: #666666;
  --border-color: #e0e6ed;
  --success-bg: #e6f4ea;
  --success-text: #1e7e34;
  --error-bg: #fdeaea;
  --error-text: #d93025;
  --progress-bg: #f1f3f4;
  --progress-text: #5f6368;
  /* presets */
  --heading-font-stack:
    'Jost', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-stack:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --sm: 40rem;
  --md: 48rem;
  --lg: 64rem;
  --xl: 80rem;
  --2xl: 96rem;
}

body {
  font-family: var(--font-stack), sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--primary-blue);
  flex: 1;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background: var(--primary-blue);
  color: white;
}

.btn-outline {
  background: transparent;
  color: var(--primary-blue);
}
